# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
*.venv

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Secrets and environment settings
.env
.env.*
config/settings/local.py
config/settings/.local/

# IDE / Editor
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js stuff
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# PyCharm
*.idea/
*.iml
*.ipr
*.iws

# MacOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv
Pipfile
Pipfile.lock

# Docker
docker-compose.override.yml
*.pid

# MyPy
.mypy_cache/

# Celery
celerybeat-schedule
